<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> KMITL-CP </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>KMITL-CP Dashboard</h1>
    <button id="toggle-btn">Start Logging</button>
    
    <!-- Export Controls -->
    <select id="export-format">
        <option value="csv">Export as CSV</option>
        <option value="txt">Export as TXT</option>
        <option value="pdf">Export as PDF</option>
        <option value="rtf">Export as RTF</option> 
        <option value="xml">Export as XML</option> 
    </select>
    <button id="export-btn" disabled>Export</button>
    <button id="copy-btn">Copy to Clipboard</button>
    <div id="data-container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    